@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --corDeFundo: #f7f7f7;
  --corConteudoPrincipal: #f1efef;
  --corInput: #9f9f9f;
  --bordaInput: #9f9f9f;
  --newCorInput: #c9c9c9;
  --newBordaInput: #989898;
  --corBotao: #3b82f6;
  --corBordaBotao: #1340b3;
  --corLetraBota: #052151;
  --corInput: #d6dad4;
  --botaoHold: #3170d7;
  --corLetraBotaoHold: #061838;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f1efef;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
  padding: 15px;
  height: 450px;
  width: 350px;
  text-align: center;
  gap: 40px;
}

section input {
  padding: 5px 10px;
  width: 250px;
  height: 30px;
  background-color: var(--corInput);
  border: solid 1px var(--bordaInput);
  border-radius: 3px;
}

section input:focus {
  background-color: var(--newCorInput);
  border: solid 1px var(--newBordaInput);
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  outline: none;
}

section button {
  padding: 5px 10px;
  width: 200px;
  height: 37px;
  background-color: var(--corBotao);
  color: var(--corLetraBota);
  border: solid 1px var(--corBordaBotao);
  border-radius: 3px;
  cursor: pointer;
}
